# Build
bulid/
bin/
*.exe
http-services

# dotenv and config
.env
config.yaml

# venv
/vendor/

# Log
log/
*.log

# OSX dir files
.DS_Store

# Sublime Text settings
*.sublime-workspace
*.sublime-project

